@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #00dc96;
  --color-secondary: #14b585;
  --color-tertiary: #a8e5d0;
  --color-quaternary: #e8f8f5;
}
