@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hand: var(--font-gochi-hand);
}

@theme {
  --color-primary: #14c38e;
  --color-soft-black: #1a1a1a;
}
