@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --primary: #00ffab;
  --secondary: #14c38e;
  --tertiary: #b8f1b0;
  --quaternary: #e3fcbf;
}
